@font-face {
  font-family: "headingfont";
  src: url(../font/站酷小薇LOGO体.otf);
}
@font-face {
  font-family: "textfont";
  src: url(../font/LXGWWenKai-Bold.ttf);
}
@font-face {
  font-family: "Flanker";
  src: url("../font/Flanker Griffo Bold.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: #f8f9fa;
  color: #555;
  font-weight: 400;
  font-size: 2rem;
  font-family: "textfont", sans-serif;
  cursor: url(../img/arr1.png), auto;
}
h2 {
  font-family: "headingfont", sans-serif;
}
a,
address {
  color: #555;
  text-decoration: none;
  font-style: normal;
}
section {
  padding: 9.6rem 0 0;
  width: 100%;
}

/* 容器 */
.container {
  margin: 0 auto;
  padding: 0 2.2rem;
  max-width: 120rem;
}
.center-container,
.heading-container,
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-container {
  color: #795959;
  font-size: 3rem;
}

/* 标题  文本*/
.first-heading {
  padding-bottom: 1.2rem;
  font-size: 5rem;
}
.first-heading,
.second-heading {
  font-family: "headingfont", sans-serif;
}
.second-heading {
  padding-bottom: 0.4rem;
  color: #997878;
  font-size: 3rem;
}
.heading-span {
  text-decoration: none;
  font-family: serif;
}
.text {
  padding-bottom: 3rem;
  font-size: 2rem;
  font-family: "textfont", sans-serif;
  line-height: 1.7;
}

/* 网格 */
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 6.4rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* 按钮 */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 9px;
  color: #555;
  text-decoration: none;
  font-weight: 600;
  font-size: 5rem;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s;
}
.more-btn {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  border: none;
  background: 0 0;
  transition: all 0.2s ease;
}
.more-btn :hover {
  cursor: pointer;
}
.more-btn:before {
  position: absolute;
  top: -15%;
  left: -5%;
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 5rem;
  background: #b7f5df;
  box-shadow: 0 0.2rem 0.1rem 0 hsla(0, 0%, 55.7%, 0.19);
  content: "";
  transition: all 0.3s ease;
  backdrop-filter: blur(1.15rem);
}
.more-btn span {
  position: relative;
  color: #234567;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 3.2rem;
  font-family: "headingfont";
}
.more-btn svg {
  position: relative;
  top: -0.5rem;
  margin-left: 10px;
  transition: all 0.3s ease;
  transform: translateX(-5px);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
}
.more-btn:hover:before {
  top: -4%;
  left: -2%;
  width: 110%;
  background: #b7f5df;
  cursor: pointer;
}
.more-btn:hover svg {
  transform: translateX(0);
}
.more-btn:active {
  transform: scale(0.95);
}
.text-light-bg {
  text-shadow: #f1f3f5 0 1px 20px, #f1f3f5 1px 0 20px, #f1f3f5 0 -1px 20px,
    #f1f3f5 -1px 0 20px;
  filter: glow(color=#f1f3f5, strength=20);
}
